<%- include('partials/head.ejs') %>

    <h2>List of products</h2>
    <br>
    <ul>
        <% for(var i=0; i < items.length; i++){ %>
            <li>
                <%= items[i].name %>
            </li>
            <% } %>
    </ul>
    <hr>
    <h3>Add a new product</h3>
    <form action="new-product" method="POST">
        <input type="text" name="newProduct" id="newProduct">
        <button type="submit">Add</button>
    </form>

    <script>
        const newProduct = document.getElementById('newProduct');
        newProduct.focus();
    </script>

    <%- include('partials/footer.ejs') %>